<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">
<link rel="stylesheet" href="../static/media/style.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="../static/js/main.js"></script>
<title>
    Эй, транспорт
</title>


<body>
    <div id="main_page" class="main_page">
        <div class="header">
            <img src="../static/media/img/bus-stop.png" class="l-logo"/>
            <a class="h-text" href="/" style="text-decoration: none">Эй, транспорт</a>
            <img src="../static/media/img/human.png" class="r-logo"/>
            <select class="select_style" id="favorite_list" title="Избранные остановки"
                    onchange="javascript:window.location=this.value" >
                <option disabled selected>Избранные остановки</option>
            </select>
        </div>
        <div class="content">
<!--            <div class="choice-bar">-->
<!--                <button class="button" onclick="show_search_bus_station()">Остановки</button>-->
<!--                <button class="button" onclick="show_search_route()">Маршруты</button>-->
<!--            </div>-->
            <div id="search_bus_station" class="search_bus_station">
                <label for="bus_station" class="b-text">Найдите интересующую остановку по названию или на карте города</label>
                <input id="bus_station" class="inputSearch" placeholder="Введите название остановки" autofocus><p></p>
                <button onclick="search_bus_station()">Поиск</button>
                <!--<p onclick="show_search_bus_stations_on_map()" class="b-text">Выбрать на карте</p>-->
            </div>
            <div id="result_search" class="search_bus_station" style="padding-top: 1%">
            </div>
            <div id="map" class="map"></div>
        </div>
    </div>
</body>
</html>