<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">
<link rel="stylesheet" href="../static/media/style.css">
<link rel="stylesheet" href="../static/media/station_style.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script src="../static/js/station.js"></script>



<title>
    Эй, транспорт
</title>


<body>
    <div id="main_page" class="main_page">
        <div class="header">
            <img src="../static/media/img/bus-stop.png" class="l-logo"/>
            <a class="h-text" href="/" style="text-decoration: none">Эй, транспорт</a>
            <img src="../static/media/img/human.png" class="r-logo"/>
            <select class="select_style" id="favorite_list" title="Избранные остановки"
                    onchange="javascript:window.location=this.value" >
                <option disabled selected>Избранные остановки</option>
            </select>
        </div>
        <div class="station_content" id="station_content">
            <div class="station_info" id="info_of_station">

            </div>
            <div class="map" id="map"></div>
        </div>

    </div>
</body>
</html>